.editor-container {
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px 80px; /* Adjust the padding to your preference for spacing */
    background-color: #fff; /* White background for a document feel */
    margin: 0 auto; /* Center the editor in the page */
    box-shadow: none; /* No shadows for a flat document-like feel */
    border: none; /* No border */
    max-width: 80%; /* Maximum width of the content area */
    word-wrap: break-word; /* Ensures the text wraps within the container */
}

.ProseMirror:focus {
    outline: none;
}

.button-group {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.is-active {
    background-color: #e0f0ff;
    color: #0052cc;
}

.editor-section {  
    border-top: 1px solid black;
    margin-top: 40px;
    padding-top: 20px;
}

.editor-input {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: block;
}

.editor-content {
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px;
    border: 1px solid #ccc;
}

.editor-input:focus {
    outline: none;
}

.editor-title-author {
    display: flex;
    align-items: center;
}

.h1-style-input {
    font-size: 2em;     
    font-weight: bold;   
    line-height: 1.1;
    border: none;       
    background: none; 
}

.editor-author {
    font-size: 16px;
    font-style: italic;
    color: #555;
}

.editor-categories {
    display: flex;
    flex-wrap: wrap; /* Ensures chips wrap to the next line if necessary */
    gap: 10px; /* Space between chips */
    margin-top: 10px;
}

.category-chip {
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 10px; /* Space inside the chip */
    font-size: 14px;
    color: #333; /* Darker text color */
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping inside the chip */
}

.category-chip-edit {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.category-chip-edit.selected {
    background-color: #cce4ff; /* Highlight selected categories */
    color: #0052cc;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}