.app-recipe-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 20px;
}

.app-recipe-card-container > * {
    flex: 0 0 calc(30% - 40px);
    margin: 20px;
}

.content {
    margin-left: 70px;
}

.search-bar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 30px; /* Rounded corners similar to Edge */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* Light shadow for visual depth */
    background-color: white;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.search-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 30px; /* Same radius as wrapper */
    box-sizing: border-box;
}
