.editor-container {
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px 80px; /* Adjust the padding to your preference for spacing */
    background-color: #fff; /* White background for a document feel */
    margin: 0 auto; /* Center the editor in the page */
    box-shadow: none; /* No shadows for a flat document-like feel */
    border: none; /* No border */
    max-width: 80%; /* Maximum width of the content area */
    word-wrap: break-word; /* Ensures the text wraps within the container */
}

.ProseMirror:focus {
    outline: none;
}

.button-group {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.is-active {
    background-color: #e0f0ff;
    color: #0052cc;
}

.editor-input {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: block;
}

.editor-input:focus {
    outline: none;
}

.h1-style-input {
    font-size: 2em;      /* Adjust size to match h1 */
    font-weight: bold;   /* h1 is usually bold */
    line-height: 1.1;    /* Optional: Adjust line height */
    border: none;        /* Optional: Remove border */
    background: none;    /* Optional: Remove background for transparency */
    width: 100%;         /* Optional: Make it full width */
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}