.user-profile {
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    transition: opacity 0.3s ease;
}

.avatar:hover {
    opacity: 0.5;
}

.avatar-container {
    position: relative;
    display: block;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    font-size: 24px;
}

.avatar-container:hover .edit-icon {
    display: block;
}

.username-input {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recipes-section {
    width: 80%;
    margin: 0 auto;
}

.recipes-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.recipes-section ul div {
    margin: 10px;
}

.communities-section {
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.communities-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.communities-section ul div {
    margin-right: 20px;
}

.add-community-button {
    /* margin-top: 20px; */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: auto 0;
}

.add-community-button:hover {
    background-color: grey;
}