.recipe-card {
    display: flex;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 50%;
}

.recipe-image {
    background-color: #f3f3f3;
    width: 130px;
    height: 130px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
}

.recipe-card-text {
    vertical-align: top;
}
