/* Editor.css */
.editor-container {
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px 80px; /* Adjust the padding to your preference for spacing */
    background-color: #fff; /* White background for a document feel */
    margin: 0 auto; /* Center the editor in the page */
    box-shadow: none; /* No shadows for a flat document-like feel */
    border: none; /* No border */
    max-width: 800px; /* Maximum width of the content area */
    word-wrap: break-word; /* Ensures the text wraps within the container */
}

.is-active {
    background-color: #e0f0ff;
    color: #0052cc;
}

.recipe-info {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: block;
}
